RAG_SimpliDOTS_Technical Test.json
{
  "name": "RAG_SimpliDOTS_Technical Test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -112
      ],
      "id": "522c53c6-c1d7-4218-bd4c-96981771e74a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1536,
        272
      ],
      "id": "fd1aa2f3-0d2d-4664-9d83-f8e1e05e2905",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1536,
        800
      ],
      "id": "88943764-7fcb-463b-bcdc-d08cbc64cfdb",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "9uKIMgWe15l2QmXU",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1696,
        496
      ],
      "id": "b09db672-4b3a-4d87-96e1-9735408f415e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        656,
        400
      ],
      "id": "2ff7e74c-7969-43bb-a5d6-41ce8ddcd43f",
      "name": "When chat message received",
      "webhookId": "096405a6-e9d9-4622-8f04-d300ccaf095d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1008,
        400
      ],
      "id": "b8ed735d-9308-49b9-9368-02637d1d4267",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        592
      ],
      "id": "9bb6f1b1-bcf4-4bd4-af04-7337e039e9a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        1168,
        704
      ],
      "id": "0d67290f-1318-407c-a1ef-fac8aacd22ca",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/Internal-Update-23e521ac0ef280059c14fc0a44ff007e",
          "mode": "url"
        },
        "title": "=Internal Update {{ new Date().toLocaleString('sv-SE', { timeZone: 'Asia/Jakarta' }) }}\n",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Get Extract Status').item.json.data.data.article.title }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.output.text }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1408,
        -320
      ],
      "id": "c3920702-07e1-4445-ae2e-78b915f40cb7",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "01PNEgBPe6Va1buM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        896,
        -144
      ],
      "id": "3a2c174b-54f7-4156-8703-5b7a31161ed5",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "2snBfzfaNjxc3nrV",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "urls": {
          "items": [
            {
              "url": "https://fitur-sap.simplidots.id/smh/fitur-pada-smh-sales-management-hub/2025/beta-integrasi-sales-invoice-simplidots-x-accurate-online-17-juli-2025"
            }
          ]
        },
        "prompt": "=Scrape the full article content from the specified page, including:The article title, The full publication date (if available), The complete main content in reading order, including all paragraphs, bullet points, numbered lists, headings, and any text that appears after images, All image URLs, including the featured image and images within the content, Ensure that no part of the article is skipped. Maintain the original order and structure of the content. Return the result in clean",
        "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"article\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\"\n        },\n        \"publication_date\": {\n          \"type\": \"string\"\n        },\n        \"main_content\": {\n          \"type\": \"string\"\n        },\n        \"image_urls\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      },\n      \"required\": [\n        \"title\",\n        \"main_content\"\n      ]\n    }\n  },\n  \"required\": [\n    \"article\"\n  ]\n\n}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -944,
        -112
      ],
      "id": "aa6e9c72-4390-44bb-8310-f5eb73b78510",
      "name": "Extract Data",
      "credentials": {
        "firecrawlApi": {
          "id": "eBzuobvKEdhWvMv4",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getExtractStatus",
        "extractId": "={{ $json.id }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -96,
        -304
      ],
      "id": "4881458f-ee5d-4493-b589-6aae5cfbbe74",
      "name": "Get Extract Status",
      "credentials": {
        "firecrawlApi": {
          "id": "eBzuobvKEdhWvMv4",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a75256a-3436-4a01-92c6-81c08088e372",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -304
      ],
      "id": "9cc5336d-f4bf-45b5-ae75-0f0be8388d38",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -304,
        -304
      ],
      "id": "d88e7d03-7866-47e4-81b5-e44a8cab878d",
      "name": "Wait1",
      "webhookId": "3e12efc7-7549-4508-bf74-49adcf0d2c44"
    },
    {
      "parameters": {
        "operationMode": "documentLoader",
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in Indonesian Language, in inline plain text only (no Markdown symbols such as **bold**, *, -, etc):\n\n\n{{ $json.data.data.article.main_content }}\n\n\nCONCISE SUMMARY: ",
              "prompt": "Write a concise summary of the following in Indonesian Language, in inline plain text only (no Markdown symbols such as **bold**, *, -, etc):\n\n\n\"{text}\"\n\nCONCISE SUMMARY:"
            }
          },
          "batching": {
            "batchSize": 5
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        928,
        -320
      ],
      "id": "e0cb1535-25ae-401e-a84a-c9640022cd1e",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "content": "## RAG",
        "height": 768,
        "width": 1296,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        208
      ],
      "typeVersion": 1,
      "id": "d00a07aa-1730-4147-9020-9ef10691d52b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scrapping",
        "height": 480,
        "width": 1728,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        -368
      ],
      "typeVersion": 1,
      "id": "5d703d73-f25d-42f5-b9b7-9d207986d96c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Summary",
        "height": 560,
        "width": 1056,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -400
      ],
      "typeVersion": 1,
      "id": "a77474ba-da4c-416f-b023-607bcd36eb4e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        928,
        592
      ],
      "id": "070428c2-b094-4101-ac9f-b3b4632de37c",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "2snBfzfaNjxc3nrV",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "content": "- Firecrawl API KEY",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -992,
        -224
      ],
      "id": "f7120558-38fd-4370-bc6f-e9c68ffa3b0d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "- Resource Name: Your Azure AI Foundry resource name\n- Endpoint: YOUR_AZURE_OPENAI_ENDPOINT\n- API Key: YOUR_AZURE_OPENAI_KEY\n- API Version: API Version",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        880
      ],
      "typeVersion": 1,
      "id": "d536d0a0-8425-465f-baf5-76b4eb5434f4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "- DeepSeek API KEY\n- Notion Integration Secret",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -112
      ],
      "typeVersion": 1,
      "id": "f5351451-7f05-4a04-81c0-e0af1a3004a7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b33bb56-98c6-4b98-94fa-f75efea16f31",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -112
      ],
      "id": "090b3152-080e-422b-b7d4-b92f2347ebe6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        -128
      ],
      "id": "c8e2ffa6-de52-4b3f-a1d0-b740ba2730e0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "textLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1072,
        -144
      ],
      "id": "9463fb21-134d-4342-ae65-6181791f3431",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        16
      ],
      "id": "33f25f5e-3168-49e4-acd6-75e04ae774f5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data.data.article.main_content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        736,
        -320
      ],
      "id": "bc79ce7f-7529-4827-b808-43219631ae01",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Extract Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Extract Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cb6394d-01a9-46a5-b5d9-04ec455b1a38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5d19f1b6b094c7a1f6efc4a7017cacdbc67d8902f006e47e40be0b896a805e2"
  },
  "id": "heoK1XjUPeSIZnH6",
  "tags": []
}